/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
}

 h2, h3 {
    font-family: 'Open Sans', sans-serif;
}


// Nav Styles
.navbar {
  background: #232b38;
  border: none;
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: 800;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: 300;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

// Home Page Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

//homepage stuff
.home-callout{
    background: url('https://images.unsplash.com/photo-1447710441604-5bdc41bc6517?dpr=2&auto=format&fit=crop&w=1800&h=1000&q=60&cs=tinysrgb&crop=') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color:white;
    margin: -20px;
    padding-top: 160px;
    padding-bottom: 200px;
}
